* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Estilos para o header e nav */

header {
    background-color: #065275;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between; /* cria espaçamento entre os elementos */
    align-items: center; /* alinha os elementos verticalmente */
    max-width: 1200px;
    margin: 0 auto; /* centraliza o nav */
    padding: 0 20px; /* adiciona um pouco de padding nas laterais */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-logo {
    width: 100px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px; /* adiciona espaçamento entre os links */
}

/* Estilos para o main */

main {
    max-width: 1200px;
    margin: 20px auto; /* centraliza o main e adiciona margem superior */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main h1 {
    margin-bottom: 20px;
    color: #546cbb;
}

main p {
    line-height: 1.6; /* aumenta o espaçamento entre as linhas para melhor leitura */
    margin-bottom: 20px; /* adiciona margem inferior para separar os parágrafos */
    text-decoration: none; /* adiciona uma linha tracejada para separar os parágrafos */
}

/* Estilos para a seção de contato */

div.contact-info {
    display: flex; /* Coloca os itens de contato (como os links dos ícones) lado a lado */
    gap: 20px; /* adiciona espaçamento entre os links */
}

.contact-info a {
    display: inline-block; /* Permite que o link aceite animações e transformações de tamanho */
    text-decoration: none;
}

/* Estilos para o footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* adiciona margem superior para separar do main */
    position: relative; /* necessário para posicionar os ícones de forma absoluta dentro do footer */
    margin-bottom: 0; /* remove a margem inferior do footer */
}

footer p {
    margin: 10px; /* remove a margem padrão do parágrafo */
}

.botao-retornar {
    display: inline-block; /* posicionar elementos lado a lado (como um texto), mas permitindo que você ajuste o tamanho e o espaçamento deles (como uma caixa). */
    margin: 15px;
    padding: 10px 20px;
    background-color: #414141;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.botao-retornar :hover {
    background-color: #252525;
}